html {
  font-size: 64.5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
}
.leaflet-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
#mapid {
  height: calc(100vh - 1.5rem);
  width: 100%;
  position: relative;
}
