.sidebarMap {
  position: fixed;
  right: 0;
  z-index: 999;
  display: grid;
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  margin: 0.5rem 1.5rem;
  border-radius: 0.2rem;
  transition: all 0.3s;
  text-align: center;
  font-size: 1.4rem;

  &:hover {
    background-color: white;
    cursor: pointer;
  }

  &--tweet-count {
    margin: 0.5rem;
  }
}

.recharts-layer,
.recharts-surface {
  cursor: pointer;
}

.recharts-sector {
  stroke: none;
}

.input {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-flow: column;
  gap: 2rem;
  margin-top: 0.5rem;

  &-btns {
    display: flex;
  }
}

.topic {
  font-size: 2rem;
  border: none;
  border-radius: 0.2rem;
  padding: 0.4rem 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s;

  &:focus {
    background-color: white;
    outline: none;
  }
}

.svgSpan {
  display: flex;
}

.icon {
  padding: 0.3rem;
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.2rem;
  transition: all 0.3s;
  margin-left: 0.5rem;
  fill: black;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    fill: orangered;
  }
}
