.App {
  display: grid;
  grid-template-columns: 30rem 1fr;
}

.icon-location-pin {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.3s;
}

.icon-location-pin:hover {
  transform: scale(2);
  cursor: pointer;
}
